@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel.carousel-slider {
  overflow: visible!important;
}

.control-dots {
  bottom: -45px!important;
  z-index: 1!important;
}

.dot {
  width: 12px!important;
  height: 12px!important;
}

input:-webkit-autofill, input:-webkit-autofill:focus, input:-webkit-autofill:hover, select:-webkit-autofill, select:-webkit-autofill:focus, select:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 100px #fff inset!important;
}